@media screen and (max-width: 1310px) {
    .agit p {
        margin-left: 9rem;
        max-width: 60%;
    }
    .agit::after {
        left: 5.5rem;
    }
}

@media screen and (max-width: 1190px) {
    .footer .section__row:first-child {
        margin-right: 2rem;
    }
    .footer .section__row:last-child {
        flex: 50% 1;
    }
}

@media screen and (max-width: 880px) {
    .agit p {
        margin-left: 10rem;
        max-width: 100%;
        margin-right: -5rem;
    }
    .section.footer {
        padding: 4rem 0 0;
    }
    .footer .welcomeTxt .section__row:last-child {
        margin-left: 3rem;
    }
    .footer .section__row:last-child p.coast {
        flex: 100%;
        max-width: 100%;
    }
    .footer-rekv-div{
        flex: 50%;
        max-width: 50%;
        margin: 0;
        padding-left: 0;
        padding-right: 2rem;
    }
    .indent{
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 797px) {
    .footer .welcomeTxt h1 {
        top: 2.5rem;
    }
    .footer .yellowBut {
        padding: 1rem 4.5rem;
        margin-left: 0;
    }
    .footer .welcomeTxt .section__row:last-child {
        margin-left: 2rem;
        max-width: 45%;
    }
    .agit {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 640px) {
    .footer .yellowBut {
        padding: 1rem 4rem;
    }
    .coast {
        font-size: 1.5rem;
    }
    .agit p {
        margin-right: -7rem;
    }
}

@media screen and (max-width: 611px) {
    .footer .section__row:first-child {
        margin-right: 0;
        flex: 100%;
        max-width: 100%;
    }
    .footer .section__row:last-child {
        flex: 100%;
        max-width: 100%;
        margin-top: 3.5rem;
    }
    .footer .yellowBut {
        padding: 1.2rem 6rem;
    }
    .coast {
        font-size: 1.8rem;
    }
    .agit p {
        max-width: 50%;
    }
    .footer .welcomeTxt h1 {
        top: 0;
    }
    .footer .welcomeTxt .section__row:last-child {
        margin-left: 0;
        max-width: 75%;
        margin-top: 1rem;
    }
    .footer-rekv-div{
        flex: 100%;
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .footer .welcomeTxt .section__row:last-child {
        max-width: 100%;
    }
}