.mechanics {
    position: relative;
    z-index: 20;
}

.section.mechanics {
    padding-top: 10rem
}

.mechanics .section-row {
    max-width: 85%;
    margin: auto;
}

.modaAboutTxt {
    flex: 60% 1;
    max-width: 60%;
    margin-top: 14rem;
    margin-left: 4rem;
}

.modaAboutTxt p {
    position: relative;
    right: -18%;
    max-width: 66%;
    line-height: 2;
}

.mechanics .modaAboutTxt h2 {
    text-align: left;
    margin-left: 2rem;
}
.mechanics .modaAbout > h2{
    display: none;
}

.mechanics::before {
    background: url(../../images/clouds.png) repeat-x;
    background-position-y: top;
    content: '';
    position: absolute;
    bottom: -5rem;
    width: 300%;
    -webkit-animation: carousel 135s infinite linear;
    animation: carousel 135s infinite linear;
    padding-bottom: 7rem;
    height: 0;
}

@keyframes carousel {
    from {
        background-position: -2720px;
    }
    to {
        background-position: 2720px;
    }
}

.modaPics {
    position: relative;
    flex: 30%;
    max-width: 35%;
}

.modaPic:nth-child(1) {
    width: 100%;
    padding-bottom: 120%;
    position: relative;
    margin: 1rem;
}

.modaPic:nth-child(2) {
    position: relative;
    margin: 1rem;
    top: -19%;
    right: -69%;
    width: 60%;
    padding-bottom: 60%;
}

.modaPic div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modaPic:nth-child(1) .pic-1 {
    background: url(../../images/moda-1.jpg) no-repeat center;
    background-size: cover;
}

.modaPic:nth-child(2) .pic-2 {
    background: url(../../images/moda-2.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 15px 15px 41px #ada6a6;
}

.pic-1, .pic-2 {
    z-index: 500;
}

.number-step {
    font-size: 5rem;
    font-weight: 900;
    font-family: 'Bebas Neue';
    display: block;
    position: relative;
    padding-right: 1rem;
}

.number-step::before {
    content: attr(data-number);
    position: absolute;
    font-size: 5rem;
    font-weight: 900;
    font-family: 'Bebas Neue';
    color: transparent;
    left: .35rem;
    top: -.35rem;
    -webkit-text-stroke: 1px #6cc3d0;
    z-index: -1;
}

.allSteps {
    margin: 0 auto;
}

.step {
    margin: 0 1rem;
    max-width: 20%;
}

.stepsModa {
    position: relative;
}

.stepsModa::before {
    background: url(../../images/blue-vetka.png) no-repeat;
    content: '';
    position: absolute;
    right: 0rem;
    top: -25rem;
    background-size: contain;
    width: 20rem;
    height: 20rem;
}

div.trendyBgContainer, div.trendyBgContainer.main {
    position: absolute;
    left: -26%;
    top: 33%;
    right: 0;
    bottom: -20%;
    margin: auto;
    width: 40rem;
    height: 30rem;
    background: url(../../images/trendy-bg.svg) no-repeat center;
    background-size: contain;
    z-index: -1;
}

div.trendyBgContainer {
    background: url(../../images/trendy-bg-2.svg) no-repeat center;
    background-size: contain;
}

.bg-1 {
    bottom: -13.5% !important;
}

.bg-2 {
    bottom: -7%!important;
}

.bg-3 {
    bottom: -0%!important;
}

.trendyBg {
    animation-name: afterTrendyBg;
}

.beforeTrendyBg {
    animation-name: beforeTrendyBg
}

.trendyLeaf {
    animation-name: trendyLeaf;
}

.trendyLeafYellow {
    animation-name: trendyLeafYellow
}

.modaPic div.modaPic-leaf, .modaPic div.modaPic-leaf-yellow {
    position: absolute;
    background: url(../../images/trendy-red-leaf.svg) no-repeat;
    background-size: contain;
    width: 11rem;
    height: 11rem;
    z-index: -1;
    bottom: auto;
    left: auto;
}

.modaPic div.modaPic-leaf-yellow {
    background: url(../../images/trendy-yellow-leaf.svg) no-repeat;
    background-size: contain;
    height: 12.5rem;
    width: 12.5rem;
    right: -1rem;
}

.animated.trendyLeaf, .animated.trendyLeafYellow {
    width: 11rem;
    height: 11rem;
    right: -8.5rem;
    top: -.5rem;
    bottom: auto;
    left: auto;
}

.animated.trendyLeafYellow {
    top: -9rem;
    height: 14rem;
    width: 14rem;
}

@keyframes afterTrendyBg {
    0% {
        opacity: 0;
        transform: none;
    }
    100% {
        opacity: 1;
        transform: translateY(-1rem);
    }
}

@keyframes beforeTrendyBg {
    0% {
        opacity: 1;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 0;
        transform: none;
    }
}

@keyframes trendyLeaf {
    0% {
        opacity: 0;
        transform: rotate(20deg);
        transform-origin: 50% 50%;
        right: 5rem;
    }
    100% {
        opacity: 1;
        transform: rotate(65deg);
        transform-origin: 50% 50%;
        right: -8.5rem;
    }
}

@keyframes trendyLeafYellow {
    0% {
        opacity: 0;
        top: 3rem;
        transform: rotate(0);
    }
    100% {
        opacity: 1;
        top: -9rem;
        transform: rotate(5deg);
    }
}