@media screen and (max-width: 1670px) {
    .stepsModa::before {
        top: -20rem;
    }
    .mechanics .modaAboutTxt h2 {
        margin-left: 5rem;
    }
}

@media screen and (max-width: 1531px) {
    h2 {
        font-size: 2.8rem;
    }
    .mechanics .section-row {
        max-width: 90%;
    }
}

@media screen and (max-width: 1446px) {
    .mechanics .section-row {
        max-width: 100%;
    }
}

@media screen and (max-width: 1301px) {
    .modaPics {
        flex: 30% 1;
        max-width: 30%;
    }
    div.trendyBgContainer, div.trendyBgContainer.main {
        width: 27rem;
        top: 45%;
        left: -11%;
    }
    .modaPic div.modaPic-leaf, .modaPic div.modaPic-leaf-yellow {
        transform: scale(.85);
    }
    .modaAboutTxt {
        flex: 65% 1;
        max-width: 65%;
        margin-top: 12rem;
        margin-left: 2rem;
    }
    .stepsModa::before {
        top: -13rem;
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (max-width: 1201px) {
    .mechanics .modaAboutTxt h2 {
        margin-left: 6rem;
    }
    .modaAboutTxt {
        margin-top: 11.5rem;
    }
    .stepsModa::before {
        top: -11rem;
        width: 13rem;
        height: 13rem;
    }
    .step {
        margin: 0 .8rem;
        max-width: 22%;
    }
}

@media screen and (max-width: 1172px) {
    .step {
        font-size: .9rem;
        margin: 0 0.5rem;
    }
}

@media screen and (max-width: 1081px) {
    .step {
        flex: 50%;
        max-width: 45%;
        font-size: 1rem;
    }
    .allSteps {
        flex-wrap: wrap;
        max-width: 70%;
        margin: auto;
        justify-content: space-between;
    }
    .mechanics .modaAboutTxt h2 {
        margin-left: 7rem;
    }
    .stepsModa::before {
        top: -8rem;
        width: 12rem;
        height: 12rem;
    }
    div.trendyBgContainer, div.trendyBgContainer.main {
        width: 25rem;
        top: 48%;
        left: -13%;
    }
    .modaPic div.modaPic-leaf, .modaPic div.modaPic-leaf-yellow {
        transform: scale(.8);
        right: 1rem;
    }
}

@media screen and (max-width: 1021px) {
    .modaAboutTxt {
        margin-top: 7.5rem;
    }
    .stepsModa::before {
        width: 11rem;
        height: 11rem;
    }
}

@media screen and (max-width: 955px) {
    div.trendyBgContainer, div.trendyBgContainer.main {
        width: 21rem;
        top: 61%;
        left: -17%;
    }
    .mechanics .modaAboutTxt h2 {
        margin-left: 3.3rem;
    }
    .allSteps {
        max-width: 80%;
    }
    .modaAboutTxt {
        margin-top: 6.5rem;
    }
    .modaPics {
        flex: 28% 1;
        max-width: 28%;
    }
    .modaPic div.modaPic-leaf, .modaPic div.modaPic-leaf-yellow {
        transform: scale(.6);
        right: 2.5rem;
    }
    .modaAboutTxt p {
        max-width: 70%;
    }
    .stepsModa::before {
        width: 9rem;
        height: 9rem;
        top: -6rem;
    }
}

@media screen and (max-width: 863px) {
    .section.mechanics {
        padding-top: 8rem;
    }
    .modaAboutTxt {
        margin-top: 5.5rem;
    }
    .stepsModa::before {
        width: 8rem;
        top: -5rem;
    }
    .mechanics .modaAboutTxt h2 {
        text-align: center;
        margin-left: 0;
    }
    div.trendyBgContainer, div.trendyBgContainer.main {
        width: 19rem;
        top: 60%;
        left: -19%;
    }
}

@media screen and (max-width: 802px) {
    .mechanics .section-row.stepsModa {
        margin-top: 1rem;
    }
    .modaAboutTxt {
        margin-top: -1.5rem;
    }
    .stepsModa::before {
        width: 10rem;
        top: -7rem;
    }
    .modaPic:nth-child(2) {
        width: 70%;
        padding-bottom: 70%;
        right: -65%;
    }
    .modaPics {
        flex: 33% 1;
        max-width: 35%;
        margin-left: -4rem;
    }
    .modaAboutTxt {
        margin-left: 3.5rem;
    }
    .stepsModa::before {
        width: 8rem;
        top: -8rem;
    }
}

@media screen and (max-width:611px) {
    .stepsModa::before {
        width: 6rem;
        top: -6rem;
    }
    .mechanics .section-row.modaAbout {
        flex-wrap: wrap;
    }
    .modaPics {
        flex: 70% 1;
        max-width: 100%;
        margin: 0;
    }
    .mechanics .modaAbout .modaAboutTxt h2 {
        display: none;
    }
    .mechanics .modaAbout h2 {
        display: inherit;
        text-align: left;
        margin: 0;
        margin-bottom: 3rem;
    }
    .section.mechanics {
        padding-top: 5rem;
    }
    .modaPic:nth-child(2) {
        right: 0;
        left: 0;
        margin: auto;
        top: 10%;
    }
    .modaPic:nth-child(1) .animated:nth-child(1) {
        width: 63%;
        padding-bottom: 83%;
        position: relative;
        margin: 0;
        height: 0;
        margin-left: 2rem;
    }
    .modaPic div.modaPic-leaf {
        transform: translate(-4rem, 2rem) rotate(5deg);
        right: -4.5rem;
        top: -1rem;
        width: 10rem;
    }
    .modaPic div.modaPic-leaf-yellow {
        transform: scale(.9);
        right: -1.5rem;
    }
    div.trendyBgContainer, div.trendyBgContainer.main {
        width: 28rem;
        top: 56%;
        left: -14%;
    }
    .modaPic:nth-child(2) .animated:nth-child(1) {
        width: 56%;
        padding-bottom: 56%;
        height: 0;
        position: relative;
        left: 14rem;
        top: 19rem;
    }
    .modaPic:nth-child(2) {
        top: 0;
        height: 0%;
        padding: 0;
    }
    .modaPic:nth-child(1) {
        height: 0%;
        padding: 0;
    }
    .modaAboutTxt p, .modaAboutTxt {
        max-width: 100%;
        right: 0;
        left: 0;
        margin: auto;
        margin-top: -1.5rem;
    }
    .mechanics .section-row.stepsModa {
        margin-top: 7rem;
    }
    .mechanics .section-row.stepsModa h2{
        text-align: left;
        padding-right: 1rem;
    }
    .stepsModa::before {
        width: 8rem;
        top: -5rem;
        right: 4rem;
    }
    .allSteps {
        max-width: 90%;
    }
    .step {
        flex: 100%;
        max-width: 65%;
        font-size: 1rem;
    }
}
@media screen and (max-width:511px){
    .modaPic:nth-child(2) .animated:nth-child(1){
        left: 12rem;
        top: 17rem;
    }
    .modaAboutTxt p, .modaAboutTxt{
        margin-top: 0;
    }
    .step{
        flex: 100% 1;
        max-width: 75%;
    }
    div.trendyBgContainer, div.trendyBgContainer.main{
        z-index: -1 !important;
    }
    div.trendyBgContainer, div.trendyBgContainer.main {
        width: 26rem;
        top: 69%;
        left: -15%;
    }
}
@media screen and (max-width:436px){
    div.trendyBgContainer, div.trendyBgContainer.main {
        width: 20rem;
        top: 48%;
        left: -6%;
    }
    .modaPic div.modaPic-leaf{
        transform: translate(-4rem, 3rem) rotate(5deg) scale(.65);
    }
    .modaPic div.modaPic-leaf-yellow {
        transform: scale(.7) translate(-2rem, 2rem);
    }
    .modaPic:nth-child(2) .animated:nth-child(1) {
        left: 10rem;
        top: 14rem;
    }
    .stepsModa::before {
        right: 0;
    }
}
@media screen and (max-width:376px){
    div.trendyBgContainer, div.trendyBgContainer.main{
        left: -18%;
    }
    .modaPic div.modaPic-leaf {
        transform: translate(-6rem, 3rem) rotate(5deg) scale(.5);
    }
    .modaPic:nth-child(2) .animated:nth-child(1) {
        left: 9rem;
        top: 11rem;
    }
    .stepsModa::before {
        width: 7rem;
    }
    .step {
        flex: 100% 1;
        max-width: 100%;
    }
}
@media screen and (max-width:336px){
    div.trendyBgContainer, div.trendyBgContainer.main {
        left: -20%;
        width: 17rem;
    }
    .modaPic:nth-child(2) .animated:nth-child(1) {
        left: 8rem;
        top: 10rem;
    }
}