.profit .yellowBut {
    margin: 3rem auto 0;
}
.profit.section{
    padding-top: 8rem;
}

.profit-point {
    flex: 30% 1;
    max-width: 25%;
    align-items: center;
}

.profit-points-content {
    margin: 0 auto 3rem;
    justify-content: space-around;
    max-width: 90%;
}
.adding{
    font-size: 1.4rem;
}