.ladyBlock {
    width: 50%;
    flex: 50%;
    position: relative;
    bottom: -.8rem;
}

.welcome.section {
    position: relative;
    padding: 0;
    padding: 0 6.5rem .8rem;
    overflow: hidden;
}

.lady {
    background: url(../../images/lady-maraf.png) no-repeat bottom;
    background-size: contain;
    width: 26rem;
    height: 42rem;
    position: absolute;
    bottom: 0;
    left: -12rem;
    right: 0;
    margin: auto;
}

.startw.flexing {
    justify-content: space-between;
    padding-top: 1.3rem;
}

.welcomeTxt {
    position: relative;
    z-index: 100;
}

.welcomeTxt img {
    max-width: 12.5rem;
}

.welcomeTxt .yellowBut {
    margin: 1.7rem 0 5rem;
    padding: .8rem 6.1rem;
    font-size: 1.62rem;
    border-radius: .7rem;
}

.welcomeTxt h1 {
    font-size: 8.2rem;
    margin-top: 6.5rem;
    line-height: 1.01;
}

.welcomeTxt h1 small {
    font-size: 23%;
    margin-left: .25rem;
    letter-spacing: -0.5px;
}

.ladyContentbg {
    background: url(../../images/ladyBlueBg.svg) no-repeat;
    background-size: contain;
    position: absolute;
    animation: zoomIn 1.2s linear both;
    width: 70rem;
    height: 49rem;
    left: 4rem;
    top: -1.5rem;
}

.ladyContentbg:first-child {
    background: transparent;
    width: 100%;
    left: 0;
    top: 0;
}
.welcome .coast{
    text-align: left;
    margin: -2rem 0 2rem;
}
.ladyContentbg:first-child::before {
    background: url(../../images/ladyBlueBgAfter.svg) no-repeat;
    content: '';
    position: absolute;
    left: -15%;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-size: 100% 100%;
    z-index: 0;
    width: 118%;
    height: 118%;
    animation: 1s zoomIn 1.2s linear both;
}

.cloud {
    background: url(../../images/lady-cloud-1.png) no-repeat;
    position: absolute;
    width: 20rem;
    height: 7.5rem;
    background-size: contain;
    top: 11rem;
    left: -3rem;
    animation: fadeInLeft 2s linear
}

.cloud-2 {
    background: url(../../images/lady-cloud-2.png) no-repeat;
    position: absolute;
    width: 20rem;
    height: 7.5rem;
    background-size: contain;
    bottom: 5rem;
    left: 31rem;
    animation: fadeInRight 2s linear
}

.yellowLeaf {
    background: url(../../images/lady-yellow-leaf.svg) no-repeat;
    position: absolute;
    width: 20rem;
    height: 7.5rem;
    background-size: contain;
    bottom: 3.5rem;
    left: 1.3rem;
    transform: rotate(-36deg);
    animation: .5s yellowShow 3.5s linear both;
}

.yellowLeaf2 {
    background: url(../../images/lady-yellow-leaf2.svg) no-repeat;
    position: absolute;
    width: 19rem;
    height: 7.5rem;
    background-size: contain;
    bottom: 7.5rem;
    left: 23rem;
    transform: rotateY(180deg);
    animation: 1.5s yellow-2-Show 4s linear both;
}

.redLeaf {
    background: url(../../images/lady-red-leaf.svg) no-repeat;
    position: absolute;
    width: 20rem;
    height: 12rem;
    background-size: contain;
    bottom: 2rem;
    left: -2.3rem;
    transform: rotate(-79deg);
    animation: 1.5s redShow 3s linear both;
}

.violetLeaf {
    background: url(../../images/lady-violet-leaf.svg) no-repeat;
    position: absolute;
    width: 20rem;
    height: 15rem;
    background-size: contain;
    bottom: 8rem;
    left: 34rem;
    animation: .7s violet-2-Show 4s ease-out both;
}

.leaf-from-3-1 {
    background: url(../../images/lady-violet-leaf-3.svg) no-repeat;
    position: absolute;
    height: 15rem;
    background-size: contain;
    transform: rotate(-67deg);
    width: 5rem;
    left: 7rem;
    top: 3rem;
    animation: 1.7s windy-grass-1 1.5s ease-out both;
}

.leaf-from-3-2 {
    background: url(../../images/lady-violet-leaf-3-2.svg) no-repeat;
    position: absolute;
    height: 15rem;
    background-size: contain;
    transform: rotate(-17deg);
    width: 6rem;
    left: 7rem;
    top: 0rem;
    animation: 1.8s windy-grass-2 1.5s ease-out both;
}

.leaf-from-3-3 {
    background: url(../../images/lady-violet-leaf-3.svg) no-repeat;
    position: absolute;
    height: 15rem;
    background-size: contain;
    transform: rotate(-4deg);
    width: 5rem;
    left: 10rem;
    top: .8rem;
    animation: 2s windy-grass-3 1.5s ease-out both;
}

@keyframes windy-grass-1 {
    0% {
        opacity: 0;
        transform: rotate(0);
        top: 5rem;
        left: 7rem;
    }
    50% {
        opacity: 1;
        top: 0;
    }
    100% {
        transform: rotate(-67deg);
        top: 3rem;
        left: 7rem;
    }
}

@keyframes windy-grass-2 {
    0% {
        opacity: 0;
        transform: rotate(0);
        top: 5rem;
    }
    10% {
        opacity: 1;
        top: 0rem;
    }
    100% {
        transform: rotate(-17deg);
        top: 0rem;
    }
}

@keyframes windy-grass-3 {
    0% {
        opacity: 0;
        transform: rotate(0);
        left: 7rem;
        top: 5rem;
    }
    10% {
        opacity: 1;
        top: 0;
    }
    100% {
        transform: rotate(-4deg);
        top: .8rem;
        left: 10rem;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        transform-origin: 50% 50%;
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transform-origin: 50% 50%;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes yellowShow {
    0% {
        opacity: 0;
        left: 13rem;
        transform: none;
        bottom: 0rem;
    }
    10% {
        opacity: 1;
        left: 6rem;
        transform: rotate(-18deg);
        transform-origin: 50% 50%;
        bottom: 3.5rem;
    }
    100% {
        opacity: 1;
        left: 1.3rem;
        transform: rotate(-36deg);
        transform-origin: 50% 50%;
        bottom: 3.3rem;
    }
}

@keyframes redShow {
    0% {
        opacity: 0;
        left: 2.3rem;
        bottom: -2rem;
        transform: rotate(-39deg);
        transform-origin: 50% 50%;
    }
    10% {
        opacity: 0;
        left: 0rem;
        bottom: 0rem;
        transform: rotate(-59deg);
        transform-origin: 50% 50%;
    }
    100% {
        opacity: 1;
        left: -2.3rem;
        bottom: 2rem;
        transform: rotate(-79deg);
        transform-origin: 50% 50%;
    }
}

@keyframes yellow-2-Show {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        bottom: 1.5rem;
        left: 15rem;
    }
    100% {
        opacity: 1;
        bottom: 7.5rem;
        left: 23rem;
        transform: rotateY(180deg);
    }
}

@keyframes violet-2-Show {
    0% {
        opacity: 0;
        bottom: 3rem;
        left: 14rem;
    }
    100% {
        opacity: 1;
        bottom: 8rem;
        left: 34rem;
    }
}