.expert {
    max-width: 33%;
    flex: 33%;
    margin: 0 1rem;
}

.experts-container {
    max-width: 75%;
    margin: auto;
}

.experts.section {
    padding-top: 15%;
    padding-bottom: 0;
}

.experts, .experts .section__inner {
    position: relative;
}

.experts {
    overflow: hidden;
}

.experts::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background: url(../../images/before-exp.png) no-repeat top;
    background-size: 100%;
    padding-bottom: 22%;
    width: 100%;
}

.expert-photo {
    width: 9rem;
    height: 9rem;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.expert-photo-inner {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 0.25rem solid #fff;
    margin: auto !important;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.expert-photo::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 8.5rem;
    background: linear-gradient(338deg, rgba(158, 59, 151, 1) 8%, rgba(188, 41, 90, 1) 34%, rgba(244, 169, 51, 1) 54%, rgba(207, 34, 59, 1) 90%);
    height: 8.5rem;
    z-index: 0;
    border-radius: 50%;
}

.expert-photo img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-position: 50% 30%;
    position: relative;
    z-index: 10;
    border-radius: 50%;
    text-align: center;
}

.aboutExpert {
    color: #666666;
    line-height: 1.5;
}

/* @keyframes leavesFade{
    0%{
        bottom: -20rem;
    }
    100%{
        bottom: -10rem;
    }
}
@keyframes leavesFade2{
    0%{
        bottom: -20rem;
    }
    100%{
        bottom: -2.5rem;
    }
}
@keyframes leavesFade3{
    0%{
        bottom: -20rem;
    }
    100%{
        bottom: -8rem;
    }
}
 .leavesFade .experts .section__inner::before {
    animation: leavesFade 1s linear both;
}
.leavesFade .experts::after {
    animation: .6s leavesFade2 1s linear both;
}
.leavesFade .experts .section__inner::after {
    animation: .3s leavesFade3 1s linear both;
} */