@media screen and (max-width:1720px) {
    .experts .section__inner::before {
        right: 0;
    }
    .experts .section__inner::after {
        right: 8rem;
    }
    .experts::after {
        left: 4rem;
    }
}

@media screen and (max-width:1460px) {
    .experts-container {
        max-width: 90%;
        padding-bottom: 5rem;
    }
}
@media screen and (max-width:1050px) {
    .experts-container {
        max-width: 100%;
        padding-bottom: 5rem;
        flex-direction: column;
    }
    .expert {
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }
    .expert .animated {
        position: relative;
        padding-left: 10rem;
        min-height: 10rem;
        margin-bottom: 1rem;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .expert-photo{
        position: absolute;
        left: 0;
    }
    .expertName h4, .aboutExpert{
        text-align: left;
    }
}
@media screen and (max-width:860px) {
    .expert .animated {
        max-width: 90%;
        min-height: 15rem;
        margin-bottom: 0;
    }
}
@media screen and (max-width:611px){
    .expert-photo{
        position: relative;
        left: auto;
    }
    .expert .animated {
        padding: 0;
        min-height: auto;
        margin-bottom: 2.5rem;
        max-width: 95%;
    }
    .expertName h4, .aboutExpert{
        text-align: center;
    }
    .expert-photo-inner, .expert-photo {
        width: 10rem;
        height: 10rem;
    }
    .expert-photo{
        margin-bottom: 1.5rem;
    }
    .expert-photo::before{
        width: 10.5rem;
        height: 10.5rem;
        left: -.25rem;
    }
}
@media screen and (max-width:460px){
    .experts::after {
        left: 0;
        width: 8rem;
        height: 8rem;
    }
    .experts .section__inner::before {
        right: -5rem;
    }
    .experts .section__inner::after {
        right: 3rem;
    }
}