* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#root {
    max-width: 100%;
    overflow: hidden;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: local('../fonts/HelveticaNeueCyr-Roman'), url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h4 {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 3rem;
}

h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 3rem;
}
h1 > span{
    font-size: 50%;
}
h4 {
    font-size: 1.5rem;
    margin: .5rem 0;
}

p, tr {
    font-family: 'HelveticaNeueCyr';
    line-height: 2;
}

.section {
    padding: 5rem 0;
}

.section__inner {
    max-width: 90%;
    margin: 0 auto;
}

.redbg {
    background: #ca0039;
    color: #fff;
}

.red {
    color: #e20443;
}

.bluebg {
    color: #fff;
    background: #349aa8;
}

.graybg {
    background: #eeeff4;
}

.yellowBut {
    color: #fff;
    background: linear-gradient(338deg, rgba(252, 207, 61, 1) 8%, rgba(246, 198, 43, 1) 90%);
    text-transform: uppercase;
    text-shadow: 3px 3px 2px #eeb500;
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: .7rem 4.5rem;
    border-radius: .85rem;
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    box-shadow: 2px 5px 0px #eeb500;
    display: block;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    transform: none
}

.yellowBut:hover {
    box-shadow: 2px 5px 0px #eeb500, inset 4px 4px 11px #feffad;
    transition: all .3s;
    transform: translateY(5px)
}

.yellowBut:active {
    box-shadow: inset 4px 4px 11px #ab840b;
    transition: all .3s;
}

.yellowBut::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: calc(100% - .65rem);
    height: calc(100% - .65rem);
    border: 1px solid #ecbb1f;
    border-radius: .85rem;
}

.flexing {
    display: flex;
}

.centred {
    text-align: center;
}

.darkBg {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    display: none;
    z-index: 1000;
}

.darkBg.active {
    display: block;
}

.registerForm {
    background: #fff;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5rem;
    max-width: 80%;
    width: 50rem;
    padding: 2rem;
    border-radius: 1rem;
    color: black;
}

.registerForm .yellowBut {
    margin: auto;
    margin-bottom: 2rem;
}

.agreement {
    margin: auto;
    max-width: 53%;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 3rem;
    font-family: 'HelveticaNeueCyr';
}

.agreement a {
    color: inherit;
}

.agreement a:hover {
    opacity: .7;
}

.agreement input {
    -webkit-appearance: none;
}

.cancelBut {
    position: absolute;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    top: 2rem;
    line-height: .7;
    cursor: pointer;
    background: url(../images/cancel.png) no-repeat;
    background-size: cover;
}

.agreement input, .agreement p {
    position: absolute;
    left: 0;
    height: 2rem;
    width: 2rem;
    border: 1px solid #2db4ab;
    border-radius: 5px;
    display: block;
    z-index: 1005;
    outline: none;
    cursor: pointer;
}

.agreement p {
    z-index: 1000;
}

.agreement input+p::after {
    content: ''
}

.agreement input:checked+p::after {
    content: '\2713';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: 'Bebas Neue';
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
    color: #2db4ab;
}

.form-components {
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.form-component {
    flex: 50%;
    max-width: 50%;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.form-components input {
    width: 100%;
    padding: .8rem;
    border: 1px solid #2db4ab;
    border-radius: .5rem;
    outline: none
}
.registerForm input::placeholder{
    color: transparent;
}
@media screen and (max-width: 1201px) {
    h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1025px) {
    .flexing {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1081px) {
    h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 851px) {
    h2 {
        font-size: 2rem;
    }
    .registerForm {
        max-width: 90%;
    }
}

@media screen and (max-width:611px) {
    h2 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .registerForm {
        margin-top: 2rem;
        max-height: 100%;
    }
    .form-component {
        flex: 100%;
        max-width: 100%;
    }
    .form-components input {
        line-height: 1.5;
    }
    .registerForm h2 {
        font-size: 2.5rem;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .agreement {
        max-width: 90%;
    }
    
}

@media screen and (max-width:496px) {
    h2 {
        font-size: 3.5rem;
    }
    .registerForm{
        max-width: 95%;
        margin-top: 1rem;
    }
    .agreement {
        max-width: 100%;
    }
    .registerForm h2 {
        font-size: 2rem;
    }
    .cancelBut {
        right: 1.5rem;
        width: 2rem;
        top: 1.5rem;
        height: 2rem;
    }
    .form-components {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width:414px) {
    h2 {
        font-size: 2.5rem;
    }
    .registerForm h2 {
        font-size: 1.5rem;
    }
    .registerForm  h4{
        display: none;
    }
    .registerForm input::placeholder{
        color: black;
    }
}